*.iml
/target
/bin
.settings
.classpath
.project
.idea
/*.iml
/*/target
/*/bin
/*/logs
/*/*.iml
/*/.settings
/*/.project
/*/.classpath
/**/logs
/**/target
/**/bin
/**/*.iml
/**/.settings
/**/.classpath
/**/.project
